    <header>
     <h1>WELL COME ANGULAR</h1>

     <nav class="btn btn-group">
      <button ><a routerLink = "/first-component">FIRST</a></button>
      <button ><a routerLink = "/second-component">SECOND</a></button>
      <button ><a routerLink = "/third-component">THIRD</a></button>
  </nav>
 

  <a target="_blank" href="https://www.facebook.com/" > 
    <img src="assets/fb.png" width="30px" height="30px" alt="facebook_link"/></a>

    <a target="_blank" href="https://www.youtube.com/"  > 
        <img src="assets/youtube.svg" width="30px" height="30px" alt="youtube_link"/></a>
 
    </header>





<router-outlet></router-outlet>
<footer>FOOTER</footer>