header{

    background-color: lightseagreen;
    
    height: 130px;
h1{
    text-align: center;
    color:red;
    padding-top: 30px;
}
    
}

button{
    margin-top: 0px;
    margin-left:0px ;
    font-size: 15px;
    color:yellow;
}

img{
    margin-left: 100px;
}

footer{
    background-color: black;
  margin-top:2000px;
    height: 100px;
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 20px;
}



