<body>
<p>SERVICE DATA</p>


<div id="aj">
   <ul>
        <li *ngFor="let item of data">
            {{item.name}}
        </li>
    </ul>    
</div>     
        

<div id="gani">

       <table class="table  table-bordered table-condensed table-striped table-hover" >
    
        <tr>
            <th>Name</th>
            <th>country</th>
            <th>state</th>
            <th>district</th>
        </tr>
        <tr>
            <td>ajay</td>
            <td> india </td>
            <td>telangana</td>
            <td>jagityal</td>
           </tr>
           <tr>
               <td>gani</td>
               <td>india</td>
               <td>andrapradesh</td>
               <td>vijayawada</td>
           </tr>
           <tr>
            <td>ajay</td>
            <td> india </td>
             <td>telangana</td>
             <td>jagityal</td>
           </tr>
           <tr>
               <td>gani</td>
               <td>india</td>
               <td>andrapradesh</td>
               <td>vijayawada</td>
           </tr>


    </table>

</div>
<div id="myaka">
    <img src="assets/ajaygani.jpg" width="300px" height="250px">
</div>







