table{ 
    height: 50px;
    width: 50px;

}


ul{
    color :blue;

    
}

p.test1{
    background-color: black;
    display: inline;
  
    color:white;

}


#aj{
    
    width: 30%;
    float: left;
    background-color:grey;

}
#gani{
    
    width: 30%;
    float: left;
    background-color: brown;
    margin-left: 80px;
}
#myaka{
    float: left;
    width: 30%;
    margin-left: 30px;
}



